[Desktop Entry]
Name=MythTV Frontend
Comment=A frontend for all content on a mythtv-backend
GenericName=MythTV Viewer
Exec=mythfrontend
Type=Application
Encoding=UTF-8
Icon=mythtv
Categories=Application;AudioVideo;Audio;Video

